# Данные
data/

*.csv
*.parquet

# Логи
*.log
logs/

# Виртуальное окружение
.venv/
venv/
.env
*.env
.env.local
.env.local.py

# IDE
.vscode/
.idea/
__pycache__/
*.pyc

# streamlit
.streamlit/secrets.toml
secrets.toml