site_name: HH Analytics
site_description: система мониторинга IT-вакансий
site_url: https://your-site.vercel.app

repo_name: gray-haired/HH_analytics
repo_url: https://github.com/gray-haired/HH_analytics.git

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: dark
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mermaid2

nav:
  - Главная: index.md
  - Архитектура: architecture.md
  - База данных: database_schema.md
  - Деплой: deployment.md
  - Схема данных: data-schema.md 

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
  - markdown.extensions.attr_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

extra_javascript:
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js

extra_css: 
  - https://unpkg.com/mermaid@10/dist/mermaid.css